.main1{
width: 92%;
margin: 0 auto;
border: 1px solid #333;
border-radius: 0.75em;
background-color: #EFEFEF;
margin-bottom: 20px;
}
.content1{
    margin-left: 30px;
    margin-bottom: 10px;
    width: 80%;
}
body{
    background-color: bisque;
}
h1{
    text-align: center;
}